@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 215 69% 15%;
    --card: 0 0% 100%;
    --card-foreground: 215 69% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 69% 15%;
    --primary: 215 69% 15%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 215 69% 15%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 215 69% 35%;
    --accent: 195 53% 79%;
    --accent-foreground: 215 69% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 195 53% 79%;
    --chart-1: 215 69% 15%;
    --chart-2: 215 50% 40%;
    --chart-3: 195 53% 79%;
    --chart-4: 195 40% 60%;
    --chart-5: 215 30% 70%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 215 69% 10%;
    --foreground: 0 0% 98%;
    --card: 215 69% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 215 69% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 215 69% 15%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 195 53% 40%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 195 53% 79%;
    --chart-1: 0 0% 98%;
    --chart-2: 0 0% 80%;
    --chart-3: 195 53% 79%;
    --chart-4: 195 53% 60%;
    --chart-5: 195 53% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
